{% extends 'Operator/Head.html'%}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <table  border="1" cellpadding="10" align="center">
          <tr>
            <td>Photo</td>
            <td><img src="{{data.photo.url}}"></td>
          </tr> 
          <tr>
            <td>Name</td>
            <td>{{data.name}}</td>
          </tr> 
          <tr>
            <td>Contact</td>
            <td>{{data.contact}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{data.address}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{data.email}}</td>
          </tr>
        </table>
    </form>
    </body>
    </html>
    {% endblock content %}