{% extends 'Shops/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accepted Request List</title>
</head>
<body>
    <table border="1" align="center">
        <tr>
            <th>Sl.No</th>
            <th>user Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Date</th>
            <th>Request</th>
            <th>Action</th>
            <th>Assign</th>
        </tr>
        {% for i in req %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.user.name}}</td>
            <td>{{i.user.contact}}</td>
            <td>{{i.user.email}}</td>
            <td>{{i.request_date}}</td>
            <td>{{i.request}}</td>
            <td><a href="{% url 'webshop:rejectrequest' i.id %}">Reject Request</a></td>
            <td><a href="{% url 'webshop:viewoperator'  i.id %}">Assign Operator</a></td>
            {% endfor %}
        </tr>
        </table>
        </body>
        </html>
        {% endblock content %}