{% extends 'Admin/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="1" cellpadding="10">
            <tr>
                <td>District</td>
                <td><select name="ddldistrict" id="ddldistrict">
                    <option value="">---Select---</option>
                    {% for i in dis %}
                    <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Place</td>
                <td><input type="text" name="txt_place" id=txtplace required="required" pattern="[A-Z a-z]"></td>
                
            </tr>
            <tr>
                <td><input type="submit" name="btn_submit" id="btnsubmit" value="Submit">
                <input type="submit" name="btn_cancel" id="btncancel" value="Cancel"></td>
            </tr>
        </table>
        <table border="1" align="center">
            <tr>
                <th>Sl.No</th>
                <th>District</th>
                <th>Place</th>
                <th>Action</th>
            </tr>
            {% for i in pla %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.district}}</td>
                <td>{{i}}</td>
                <td><a href="{% url 'webadmin:delplace' i.id %}">Delete</a>/<a href="{% url 'webadmin:ediplace' i.id %}">Edit</a></a></td>
            </tr>
            {% endfor %}
            </table>
    </form>
    </body>
    </html>
    {% endblock content %}