{% extends 'Users/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excavator Search</title>
</head>
<body>
<form method="post" id="ExcavatorForm"  data-subcategory-url="{% url 'webshop:Ajax-subcategory'%}" data-url="{% url 'webuser:Get_Excavator' %}"> 
    {% csrf_token %}
    <h4>Excavator Search</h4>
    <table align="center" cellpadding="15">
    <tr>
        <th>Category</th>
        <th><select name="ddlcategory" id="ddlcategory">
            <option value="">---Select---</option>
            {% for i in cat %}
            <option value="{{i.id}}">{{i}}</option>
            {% endfor %}
        </select></td></th>
    
        <th>Subcategory</th>
        <th><select name="ddlsubcategory" id="ddlsubcategory">
            <option value="">---Select---</option>

        </select></th>
    
        <th>Type</th>
        <th>
            <select name="ddltype" id="ddltype">
                    <option value="">---Select---</option>
                    {% for i in shoty %}
                    <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select></th>
    </tr>
        </table>
        <br><br>

    <div id="data">
        <table align="center" cellpadding="50" style="border-collapse: collapse">
            <tr>
                {% for i in EXC %}

                <td>
                    <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">

                        <p><img src="{{i.image.url}}" alt="img" width="120px" height="120px"></p>
                        <br>
                        <p><a href="{% url 'webuser:viewgallery' i.id %}">images</a></p>
                        <br>
                        <p>{{i.name}}</p>
                        <br>
                        <p>{{i.category}}</p>
                        <br>
                        <p>{{i.subcategory}}</p>
                        <br>
                        <p>{{i.details}}</p>
                        <br>
                        <p>{{i.price}}</p>
                        <br>
                        <p>{{i.shoptype}}</p>
                        <br>
                        <p>{{i.shop.name}}</p>
                        <br>
                        {% if i.shoptype.id == 2 %}
                        <p><a href="{% url 'webuser:bookit' i.id %}">Book Now</a></p>
                        {% else %}
                        <p><a href="{% url 'webuser:rentit' i.id %}">Rent Now</a></p>
                        {% endif %}

                    </div>
                </td>
                {% if forloop.counter|divisibleby:4 %}
            </tr>
            <tr>
                {% endif %}


                {% endfor %}
        </table>
        <br><br><br>
    </div>

</form>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#ddlcategory").change(function () {
        var cid = $(this).val();
        var sid = $("#ddlsubcategory").val();
        var tid = $("#ddltype").val();
        var ur = $("#ExcavatorForm").attr("data-subcategory-url");
        $.ajax({
            url: ur,
            data: { categ: cid, },
            success: function (data) {
                $("#ddlsubcategory").html(data);
                var ur = $("#ExcavatorForm").attr("data-url");
        $.ajax({
            url: ur,
            data: { cid: cid,sid: sid,tid: tid },
            success: function (data) {
                $("#data").html(data);
            },
        });
            },
        });
       
    });


    $("#ddlsubcategory").change(function () {
        var sid = $(this).val();
        var cid = $("#ddlcategory").val();
        var tid = $("#ddltype").val();
        var ur = $("#ExcavatorForm").attr("data-url");
        $.ajax({
            url: ur,
            data: { sid: sid,cid: cid,tid: tid },
            success: function (data) {
                $("#data").html(data);
            },
        });
       
    });

    $("#ddltype").change(function () {
        var tid = $(this).val();
        var cid = $("#ddlcategory").val();
        var sid = $("#ddlsubcategory").val();
        var ur = $("#ExcavatorForm").attr("data-url");
        $.ajax({
            url: ur,
            data: { tid: tid,cid: cid,sid: sid, },
            success: function (data) {
                $("#data").html(data);
            },
        });
        
    });
</script>
{% endblock content %}