{% extends 'Users/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Feedback</title>
</head>
<body>
    <form method="post">
      {% csrf_token %}
      <h4>My Feedback</h4>
        <table  border="1" cellpadding="10" align="center">
           
            <tr>
                <td>Feedback</td>
                <td><textarea name="txt_feedback" id="txtfeedback" cols="45" rows="5" required="required"></textarea></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" name="btn_submit" id="btnsubmit" value="Submit">
                <input type="submit" name="btn_cancel" id="btncancel" value="Cancel"></td>
            </tr>
            </table>
            <br>
            <br>
            <br>
            <table border="1" align="center">
                <tr>
                    <th>Sl.No</th>
                    <th>Feedback</th>
                    </tr>
                    {% for i in feed  %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.feedback_details}}</td>
                </tr>
                {% endfor %}
                </table>
                </form>
                </body>
                </html>
                {% endblock content %}
                