{% extends 'Users/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Operator</title>
</head>
<body>
    <form method="post">
      {% csrf_token %}
        <table  border="1" cellpadding="10">
            <tr>
                <td>Request</td>
                <td><textarea name="txt_request" id="txtrequest" cols="45" rows="5"></textarea></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" name="btn_submit" id="btnsubmit" value="Submit">
                <input type="submit" name="btn_cancel" id="btncancel" value="Cancel"></td>
            </tr>
            </table>
            </form>
            </body>
            </html>
            {% endblock content %}