{% extends 'Users/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Excovator Photos</title>
</head>
<body>
    
        <table align="center" cellpadding="50" style="border-collapse: collapse">
            <tr>
                {% for i in gal %}

                <td>
                    <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">

                        <p><img src="{{i.image.url}}" alt="img" width="120px" height="120px"></p>
                        

                    </div>
                </td>
                {% if forloop.counter|divisibleby:4 %}
            </tr>
            <tr>
                {% endif %}


                {% endfor %}
        </table>
        </body>
        </html>
        {% endblock content %}