
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    <table border="1" cellpadding="10">
        <tr>
            <td>Enter Number1</td>
            <td><input type="text" name="txt_num1" id="txtnumber"</td>
        </tr>
        <tr>
            <td>Enter Number 2</td>
            <td><input type="text" name="txt_num2" id="txtnumber"</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="btn_result" id="btnresult" value="Result"</td>
        </tr>
        <tr>
            <td>Largest</td>
            <td>{{lag}} </td>
        </tr>
        <tr>
            <td>Smallest</td>
            <td> {{smal}}</td>
        </tr>
    </table>
    </form>
</body>
</html>